<app-navbar></app-navbar>
<div class="dashboard-container">
  <header class="dashboard-header">
    <h1>Servicios</h1>
  </header>

  <section class="dashboard-grid">
    <a routerLink="/style-editor">
    <div class="card">
      <h3>Corrector de estilos</h3>
      <p>Perfecciona la redacción de tu documento con recomendaciones inteligentes.</p>
    </div>
    </a>


    <div class="card">
      <h3>Automatizar evaluaciones y cuestionarios</h3>
      <p>Genera y consulta reportes.</p>
    </div>

    <div class="card">
      <h3>Configuración</h3>
      <p>Ajusta las opciones de tu aplicación.</p>
    </div>

  </section>
</div>
