<app-navbar></app-navbar>
<div class="dashboard-container">
  <header class="dashboard-header">
    <h1>Servicios</h1>
  </header>

  <section class="dashboard-grid">
    <a routerLink="/style-editor">
      <div class="card">
        <h3>Corrector de estilos</h3>
        <p>Perfecciona la redacción de tu documento con recomendaciones inteligentes.</p>
      </div>
    </a>

    <a routerLink="/questionnaires">
      <div class="card">
        <h3>Generador de Cuestionarios</h3>
        <p>Crea evaluaciones automáticas a partir de temas, adaptadas al nivel académico del estudiante.</p>
      </div>
    </a>

    <a routerLink="/paraphraser">
      <div class="card">
        <h3>Parafraseo Inteligente</h3>
        <p>Reescribe contenidos manteniendo el significado original, mejorando la fluidez y evitando repeticiones o
          plagio.</p>
      </div>
    </a>


  </section>
<!--
    <div class="logo">
    <img src="logo2.png" alt="ia">
  </div>
-->

</div>