<app-navbar></app-navbar>

<div class="contenedor">
    <h2>Parafraseo Inteligente</h2><br>
    <p>Sube tu documento</p>
</div>

<div class="area-upload" *ngIf="!originalText" [class.dragging]="isDragging" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)"
    (drop)="onDrop($event)">
    <div class="icono">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-upload-icon lucide-upload">
            <path d="M12 3v12" />
            <path d="m17 8-5-5-5 5" />
            <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4" />
        </svg>
    </div>

    <p>Arrastra tu archivo aquí</p>
    <span>o</span>

    <label class="btn-subir">
        Seleccionar archivo
        <input type="file" hidden (change)="onFileSelected($event)"
            accept=".pdf, .docx, application/pdf, application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
    </label>
    <span>
        Soporta: .docx
    </span>

    <div *ngIf="selectedFile" class="file-info">
        Archivo seleccionado: <strong>{{ selectedFile.name }}</strong>
    </div>
</div>

<app-loading *ngIf="isLoading"></app-loading>

<div class="resultado" *ngIf="originalText">

    <div class="bloques-texto">

        <div class="bloque">
            <h3>Texto original</h3>
            <textarea rows="10" [value]="originalText" disabled></textarea>
        </div>
        <button class="btn-primary" (click)="parafrasear()">
            Parafrasear con IA
        </button>

<div class="bloque">
  <h3>Texto parafraseado</h3>

  <textarea
    rows="10"
    [(ngModel)]="paraphrasedText"
    [ngClass]="{ 'texto-correcto': isParaphraseOk }"
    readonly
  ></textarea>

  <button class="btn-copiar" (click)="copiarTexto()">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-copy-icon lucide-copy"><rect width="14" height="14" x="8" y="8" rx="2" ry="2"/><path d="M4 16c-1.1 0-2-.9-2-2V4c0-1.1.9-2 2-2h10c1.1 0 2 .9 2 2"/></svg>
  </button>
</div>
    </div>
</div>

