<app-navbar></app-navbar>
<div class="page-container">
    <div class="hero-section">
        <h2 class="hero-title">Genera cuestionarios inteligentes</h2>
        <p class="hero-description">
            Solicita la creación automática de cuestionarios personalizados en segundos,
            listos para evaluar y aprender.
        </p>
    </div>

    <div class="generator-section">
        <label class="input-label">
            Dime el tema, el tipo de pregunta y la cantidad de preguntas que quieres generar
        </label>
        <textarea class="input-textarea" placeholder="Ejemplo: 10 preguntas de opción múltiple sobre la fotosíntesis"
            rows="5" [(ngModel)]="prompt">
</textarea>

        <button class="btn-generate" [disabled]="isLoading" (click)="analizeQuestionnaire()">

            {{ isLoading ? 'Generando...' : 'Generar cuestionario' }}
        </button>
        
        <app-loading *ngIf="isLoading"></app-loading>

        <div *ngIf="!isLoading && result" class="result-section">
            <pre>{{ result }}</pre>
        </div>


        <div class="download-section" *ngIf="result">
            <button class="btn-download" (click)="download()">
                Descargar cuestionario
            </button>
        </div>
    </div>